<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    {% block login_head %}
        <script src="{{ url_for('AUTH_BP.static', filename="js/jquery.js") }}"></script>
        <link rel="stylesheet" type="text/css" href="{{ url_for('AUTH_BP.static', filename='css/font-awesome.css') }}">
        {# custom css for laogin page #}
        <link rel="stylesheet" type="text/css" href="{{ url_for('AUTH_BP.static', filename='css/custom.css') }}">
        <link rel="stylesheet" href="{{ url_for('AUTH_BP.static', filename="css/style.css") }}">

    {% endblock %}
    {% block extrahead %}
    {% endblock %}
</head>
<body>

{% include 'messages.html' %}

{% block content %}

    <section class="main">
        <form class="form-2" action="{{ url_for('AUTH_BP.forgotten_password') }}" method="post">

            <h1>
                <span class="log-in">{{ _('Get back your password') }}</span>
            </h1>

            <p class="float">
                {{ form.email.label }}
                {{ form.email(placeholder=_('Your email')) }}
            </p>

            <div class="float">
                {{ form.email_confirm.label }}
                {{ form.email_confirm(placeholder=_('Confirm Email')) }}
            </div>

            <div class="clearfix">
                <div class="external_links">
                    <a class="zocial icon facebook"></a>
                    <a class="zocial icon googleplus"></a>
                    <a class="zocial icon twitter"></a>
                </div>
                <div class="">
                    <input type="submit" name="submit" value="{{ _('Retrieve password') }}">
                </div>
            </div>
        </form>
        ​​
    </section>

{% endblock %}

</body>
</html>