<html>
<head>
    <link rel="shortcut icon" href="{{ url_for('AUTH_BP.static', filename = 'logo_ico_text.png') }}"
          type="image/x-icon">
    <link rel="icon" href="{{ url_for('AUTH_BP.static', filename = 'logo_ico_text.png') }}"
          type="image/x-icon">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Betty and Jorge: Register</title>
    {% block extrahead %}
        <style>
            section.register {
                margin: 12em auto !important;
                width: 50%;
                min-width: 450px;
                box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2), 0 1px 5px rgba(0, 0, 0, 0.2), 0 0 0 12px rgba(255, 255, 255, 0.4);
                background: #FFFFFF;
                padding: 1em;
            }

            html {
                overflow: hidden;
            }

            body {
                background-size: contain !important;
                background: #e1c192 url("{{ url_for('AUTH_BP.static', filename="images/beach.jpg") }}") !important;
                background-repeat: no-repeat !important;
            }
        </style>
        <script src="{{ url_for('AUTH_BP.static', filename="js/jquery.js") }}"></script>
        <link rel="stylesheet" href="{{ url_for('AUTH_BP.static', filename="css/style.css") }}">
        <!-- Semantic UI Master -->
        <link rel="stylesheet" type="text/css"
              href="{{ url_for('static', filename="semantic-ui-master/dist/semantic.min.css") }}">
        <script src="{{ url_for('static', filename="semantic-ui-master/dist/semantic.js") }}"></script>

        <script>
            $(function () {
                $('.country.dropdown').dropdown();
                /*Form Validation*/
                booking_form = $('form#register_form').form({
                    /*on: 'blur',*/
                    fields: {
                        first_name: {
                            rules: [{
                                type: 'empty',
                                prompt: 'Please enter your Name'
                            }]
                        },
                        last_name: {
                            rules: [{
                                type: 'empty',
                                prompt: 'Please enter your Last Name'
                            }]
                        },
                        email: {
                            rules: [{
                                type: 'email',
                                prompt: 'Please enter a valid Email Address'
                            }, {
                                type: 'empty',
                                prompt: 'Please enter your Email'
                            }]
                        },
                        email_confirm: {
                            rules: [{
                                type: 'email',
                                prompt: 'Please enter a valid Email Address for confirm'
                            }, {
                                type: 'empty',
                                prompt: 'Please confirm your Email'
                            }, {
                                type: 'match[email]',
                                prompt: 'The emails do not match'
                            }]
                        },
                        country: {
                            rules: [{
                                type: 'empty',
                                prompt: 'Please select a Country'
                            }]
                        },
                        password: {
                            rules: [{
                                type: 'empty',
                                prompt: 'Please, set a password for your account'
                            },{
                                type: 'minLength[6]',
                                prompt: 'The password require a minimum of 6 characters'
                            }]
                        },
                        confirm_password: {
                            rules: [
                                {
                                    type: 'empty',
                                    prompt: 'Please, confirm your password'
                                }, {
                                    type: 'match[password]',
                                    prompt: 'The passwords do not match'
                                }
                            ]
                        }
                    }
                });
            });
        </script>
    {% endblock %}
</head>
<body>
{# messages from wtform #}
{% include 'messages.html' %}

{# body of register page #}
{% block content %}
    <section class="register">
        <h3 class="ui header"><i class="ui sign in icon"></i>{{ _('Register') }}</h3>

        <div class="ui divider"></div>
        <form id="register_form" class="ui form" enctype="multipart/form-data"
              action="{{ url_for('AUTH_BP.register') }}" method="post">
            <input type="hidden" name="next" value="{{ url_for('BJ_BP.welcome') }}">
            {# semantic error messages #}
            <div class="ui error message"></div>
            {# fom fields #}
            <div class="three fields">
                <div class="required field">
                    <label>{{ form.first_name.label }}</label>

                    <div class="ui left icon input">
                        {{ form.first_name(placeholder=_('First Name')) }}
                        <i class="user icon"></i>
                    </div>
                </div>
                <div class="field">
                    <label>{{ form.last_name.label }}</label>

                    <div class="ui left icon input">
                        {{ form.last_name(placeholder=_('Last name')) }}
                        <i class="user icon"></i>
                    </div>
                </div>
                <div class="required field">
                    <label>{{ form.country.label }}</label>

                    <div class="country ui fluid search selection dropdown">
                        <input type="hidden" id="country" name="country">
                        <i class="dropdown icon"></i>

                        <div class="default text">{{ _('Select') }}</div>
                        <div class="menu">
                            {% for c in form.country.choices %}
                                <div class="item" data-value="{{ c[0] }}"><i
                                        class="{{ c[1].a2 | lower }} flag"></i>{{ c[1].name | capitalize }}</div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
            <div class="two fields">
                <div class="required field">
                    <label>{{ form.email.label }}</label>

                    <div class="ui left icon input">
                        {{ form.email(placeholder=_('Email Address')) }}
                        <i class="mail icon"></i>
                    </div>
                </div>
                <div class="required field">
                    <label>{{ form.email_confirm.label }}</label>

                    <div class="ui left icon input">
                        {{ form.email_confirm(placeholder=_('Confirm Email')) }}
                        <i class="mail icon"></i>
                    </div>
                </div>
            </div>
            <div class="two fields">
                <div class="required field">
                    <label>{{ form.password.label }}</label>

                    <div class="ui left icon input">
                        {{ form.password(placeholder=_('Password')) }}
                        <i class="lock icon"></i>
                    </div>
                </div>
                <div class="required field">
                    <label>{{ form.confirm_password.label }}</label>

                    <div class="ui left icon input">
                        {{ form.confirm_password(placeholder=_('Confirm Password')) }}
                        <i class="lock icon"></i>
                    </div>
                </div>
            </div>
            <div class="two fields">
                <div class="field">
                    <label>{{ form.avatar.label }}</label>
                    {{ form.avatar }}
                </div>
                <div class="field">
                    {#  {{ form.captcha }} #}
                </div>
            </div>
            <button class="ui submit right floated orange icon button">
                {{ _('Register') }} <i class="ui sign in icon"></i>
            </button>
            <a href="{{ url_for("BJ_BP.welcome") }}" class="ui right floated button">
                {{ _('Cancel') }}
            </a>

            <div class="clearfix"></div>
        </form>
    </section>
{% endblock %}

</body>
</html>