<!DOCTYPE html>
<html>
<head>
    <title>David DropLister</title>

    <meta name="csrf-token" content="{{ csrf_token() }}">

    {% include "common/meta_header.html" %}

    {% block meta_style %}
        <link rel="stylesheet"
              href="{{ url_for("DL_BP.static", filename="dataTables/dataTables.semanticui.min.css") }}">
        <link rel="stylesheet" href="{{ url_for("DL_BP.static", filename="css/backoffice.css") }}">
    {% endblock %}

    {% block extra_style %}

    {% endblock %}

    {% block extra_script %}

    {% endblock %}

    {% block meta_script %}

        <script>
            csrf_token = "{{ csrf_token() }}";
            amazon_search_url = url = "{{ url_for("DL_BP.amazon_search") }}";
            ebay_sell_url = "{{ url_for("DL_BP.sell_on_bay") }}";
            ebay_order_detail_url = "{{ url_for("DL_BP.order_detail") }}";
            ebay_store_info = "{{ url_for("DL_BP.get_store_details") }}";
        </script>

        <script src="{{ url_for("DL_BP.static", filename="dataTables/datatables.js") }}"></script>
        <script src="{{ url_for("DL_BP.static", filename="dataTables/Select-1.2.0/js/dataTables.select.min.js") }}"></script>
        <script src="{{ url_for("DL_BP.static", filename="dataTables/dataTables.semanticui.min.js") }}"></script>
        <script src="{{ url_for("DL_BP.static", filename="js/drop_lister_ebay/ebay.js") }}"></script>

        <script src="{{ url_for("DL_BP.static", filename="js/backoffice/function.js") }}"></script>

    {% endblock %}

</head>
<body>
{# Include Modals to Show messages #}
{% include 'common/modals.html' %}

{# Messages incoming from flash #}
{% include 'common/messages.html' %}

<!-- Following Menu -->
<div class="ui large top fixed hidden menu">
    <div class="ui container">
        <a class="active item" href="{{ url_for("DL_BP.index") }}">Home</a>
        <a class="item">Work</a>
        <a class="item">Company</a>
        <a class="item">Careers</a>

        <div class="right menu">
            <div class="item">
                <a class="ui button">Log in</a>
            </div>
            <div class="item">
                <a class="ui primary button">Sign Up</a>
            </div>
        </div>
    </div>
</div>

<!-- Sidebar Menu -->
<div class="ui vertical inverted sidebar menu">
    <a class="active item">Home</a>
    <a class="item">Work</a>
    <a class="item">Company</a>
    <a class="item">Careers</a>
    <a class="item">Login</a>
    <a class="item">Signup</a>
</div>


<!-- Page Contents -->

<div class="pusher">
    <div class="ui inverted main menu" id="mobile_menu">
        <div class="ui container">
            <a class="launch icon item">
                <i class="content icon"></i>
            </a>

            <div class="item">
                Integrations
            </div>

            <div class="right menu">

                <div class="ui pointing top right dropdown item" tabindex="0" id="user_dropdown">
                    Hi!!! {{ current_user.name }}
                    <i class="dropdown icon"></i>

                    <div class="menu transition hidden" tabindex="-1">
                        <div class="item">Action</div>
                        <div class="item">Another Action</div>
                        <div class="item">Something else here</div>
                        <div class="divider"></div>
                        <div class="item">Separated Link</div>
                        <div class="divider"></div>
                        <div class="item">One more separated link</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="full">

        <div class="toc">

            <div class="ui vertical fixed inverted pointing menu" id="sidebar_menu">
                <a class="item active" href="{{ url_for("DL_BP.backoffice") }}">
                    <i class="search icon"></i>
                    Amazon Search
                </a>
                <a class="item" href="{{ url_for("DL_BP.dashboard") }}">
                    <i class="block layout icon"></i>
                    Dashboard
                </a>
                <a class="item" href="{{ url_for("DL_BP.orders") }}">
                    <i class="smile icon"></i>
                    Orders
                </a>
                <a class="item" href="{{ url_for("DL_BP.purchase_on_amazon") }}">
                    <i class="add to cart icon"></i>
                    Purchase on Amazon
                </a>
                <a class="item" href="{{ url_for("DL_BP.get_store_details") }}">
                    <i class="line chart icon"></i>
                    Ebay Store
                </a>
            </div>


        </div>
        <div class="article">
            {% block content %}

            {% endblock %}
        </div>

    </div>

    <script src="{{ url_for('DL_BP.static', filename="semantic_2.1.8/semantic.js") }}"></script>

</div>

